.section {
  padding: 60px 0px 30px 0px;
  /* background: linear-gradient(180deg, #ffdfc5, #fff4f4); */
  background: linear-gradient(180deg, #e6ffcc, #fffff0);
}

/* ===== HEADING ===== */
.heading {
  text-align: center;
  font-size: 34px;
  font-weight: 600;
  color: #6f027edf;
  margin-bottom: 60px;
}

/* ===== GRID ===== */
.reviewsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  text-align: center;
}

/* ===== CARD ===== */
.reviewCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviewCard img {
  width: 180px;
  height: auto;
}

/* ===== TEXT ===== */
.rating {
  font-size: 18px;
  margin-bottom: 6px;
  color: #444;
}

.stars {
  color: #f5b400;
  font-size: 22px;
  margin-bottom: 10px;
}

.reviewCard h4 {
  font-size: 18px;
  font-weight: 700;
  color: #333;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 992px) {
  .reviewsGrid {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

@media (max-width: 576px) {
  .heading {
    font-size: 24px;
    margin-bottom: 40px;
  }

  .reviewsGrid {
    gap: 35px;
  }

  .reviewCard img {
    width: 70px;
  }
}
