.reviewSection {
  /* background: linear-gradient(180deg, #ffdfc5, #fff4f4); */
  /* background: linear-gradient(180deg, #e6ffcc, #fffff0); */
  /* background: linear-gradient(180deg, #f5e6d3, #fffdf7); */
  background: #fff;
  padding: 80px 0;
}

/* Heading */
.heading {
  font-size: 35px;
  font-weight: 600;
  color: #bd0005;
  margin-bottom: 12px;
  font-family: "Philosopher" , sans-serif ;
}

.divider {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}

.divider img {
  width: 250px;
  height: 28px;
}



/* Card */
.card {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.thumbnail {
  width: 100%;
  height: 420px;
  object-fit: cover;
}

/* Play Icon */
.playIcon {
  position: absolute;
  bottom: 18px;
  left: 50%;
  transform: translateX(-50%);
}

.playIcon span {
  width: 56px;
  height: 56px;
  background-color: #ff0000;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.playIcon span::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 16px solid #fff;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

/* Responsive */
@media (max-width: 768px) {
  .heading {
    font-size: 24px;
  }

  .thumbnail {
    height: 360px;
  }
}