.section {
  padding: 90px 0;
  /* background: linear-gradient(180deg, #e6ffcc, #fffff0); */
  background: linear-gradient(180deg, #e6ffcc, #fffff0);
}

.heading {
  font-size: 34px;
  font-weight: 600;
  color: #6f027edf;
  margin-bottom: 12px;
}

.subText {
  max-width: 650px;
  margin: 0 auto;
  font-size: 16px;
  color: #666;
}

.card {
  background: #ffffff;
  padding: 35px 25px;
  border-radius: 20px;
  text-align: center;
  height: 100%;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
  transition: all 0.35s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.12);

}

.icon {
  font-size: 60px;
  color: #7b4397;
  margin-bottom: 18px;
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}




.card h5 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #2c2c2c;
}

.card p {
  font-size: 14.5px;
  color: #666;
  line-height: 1.6;
}

.card {
  transition: transform 0.4s ease, box-shadow 0.4s ease;

}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.12);
}

.icon {
  transition: transform 0.4s ease;
}

.card:hover .icon {
  transform: scale(1.1);
  color: #c50101df;
}


/* Responsive */
@media (max-width: 768px) {
  .heading {
    font-size: 26px;
  }

  .icon {
    display: flex;
    justify-content: center;
  }
}