.wrapper {
  background: linear-gradient(135deg, #f7f3ff, #ffffff);
  padding: 80px 20px;
}

.heading {
  font-size: 32px;
  color: #5b2245;
  margin-bottom: 20px;
  text-align: center;
}

.intro {
  font-size: 16px;
  line-height: 1.7;
  color: #444;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  max-width: 1200px;
  margin: auto;
}

.side {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.iconBox {
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease;
}

.iconBox img {
  width: 70px;
  opacity: 0.5;
  transition: all 0.3s ease;
}

.iconBox p {
  margin-top: 8px;
  font-size: 14px;
  color: #5b2245;
}

.iconBox:hover img {
  opacity: 1;
  transform: scale(1.1);
}

.active img {
  opacity: 1;
  transform: scale(1.15);
}

.active p {
  font-weight: 600;
}

/* CENTER CARD */
.contentCard {
  border-radius: 8px;
  text-align: left;
 
}

.om {
  display: block;
  text-align: center;
  font-size: 32px;
  color: #5b2245;
  margin-bottom: 15px;
}

.contentCard h3 {
  color: #5b2245;
  font-size: 24px;
  margin-bottom: 15px;
}

.contentCard p {
  font-size: 15px;
  line-height: 1.8;
  color: #333;
  white-space: pre-line;
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .side {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .contentCard {
    text-align: center;
  }
}
