.section {
  /* background: linear-gradient(2deg, #ffdfc5, #fff4f4); */
  /* background: linear-gradient(180deg, #f7d9e3, #fffafc); */
  /* background: linear-gradient(180deg, #e6ffcc, #fffff0); */
   background-image: url("../../images/grid2.png");
  padding: 50px;
  text-align: center;
}

.heading {
  font-size: 36px;
  margin-bottom: 80px;
  color: #bd0005;
  font-weight: 600;
   font-family: "Philosopher", sans-serif;
}

/* WRAPPER */
.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 600px;
}

/* CENTER CIRCLE */
.centerCircle {
  background: #ffffff;
  border-radius: 50%;
  box-shadow: 0 50px 100px rgba(91, 34, 69, 0.15);
  padding: 60px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transition: width 0.45s ease, height 0.45s ease;
}

.om {
  font-size: 40px;
  color: #bd0005;
  margin-bottom: 16px;
}

.centerContent h3 {
  font-size: 24px;
  color: #bd0005;
  margin-bottom: 12px;
   font-family: Philosopher, sans-serif;
}

.centerContent p {
  font-size: 15px;
  line-height: 1.9;
  color: #000;
  max-width: 360px;
}

/* RADIAL NODES */
.node {
  position: absolute;
  width: 175px;
  height: 175px;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 50%;
  border: none;
  cursor: pointer;

  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.node img {
  width: 70px;
}

.node span {
  font-size: 16px;
  font-weight: 600;
  color: #bd0005;
}

/* MOBILE */
.mobileNav {
  display: none;
}

/* ACTIVE RADIAL NODE */
.activeNode {
  background: #bd0005;
  box-shadow: 0 25px 60px #bd0005
}

.activeNode span {
  color: #ffffff;
}

.activeNode img {
  filter: brightness(0) invert(1);
}


@media (max-width: 808px) {
  .wrapper {
    flex-direction: column;
    min-height: auto;
  }

  .centerCircle {
    width: 100% !important;
    height: auto !important;
    border-radius: 24px;
    margin-bottom: 24px;
  }

  .node {
    display: none;
  }

  .mobileNav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .mobileNav button {
    border: 1px solid #bd0005;
    background: transparent;
    padding: 10px 16px;
    border-radius: 20px;
    font-size: 13px;
    cursor: pointer;
  }

  .mobileNav .active {
    background: #bd0005;
    color: #ffffff;
  }
}