.hero {
  padding: 80px 0;
  /* background: #fff5eb; */
   background-image: url("../../images/grid3.png");
/* background-image: linear-gradient(to right, #fff, #f8e4e4); */
}

.container {
  max-width: 1360px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  gap: 60px;
}

/* LEFT CONTENT */
.content {
  flex: 1;
}

.subTitle {
  font-size: 25px;
  color: #000;
  margin-bottom: 12px;
  display: block;
  font-family: "Philosopher" , sans-serif ;
}

.title {
  font-size: 46px;
  font-weight: 800;
  color: #000;
  line-height: 1.2;
  font-family: "Philosopher" , sans-serif ;
}

.title span {
  color: #bd0005;
}

.boldText {
  margin: 14px 0;
  font-weight: 600;
  font-size: 21px;
  font-family: "Philosopher" , sans-serif ;
}

.desc {
  font-size: 18px;
  color: #000;
  line-height: 1.7;
  font-family: "Quicksand", sans-serif;
}

/* VIDEO STYLE (LIKE IMAGE) */
.videoWrapper {
  flex: 1;
  max-width: 420px;
  /* 🔥 SMALLER SIZE */
  border-radius: 18px;
  overflow: hidden;
  background: #000;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
}

.video {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 18px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .videoWrapper {
    max-width: 100%;
  }

  .title {
    font-size: 32px;
  }
}